.header-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1rem;
    padding: 30px 0px;
    color: black;
}
.header-dark{
    background-color: #232b2b;
    color: white;
}

.header-spacing {
    display: flex;
    align-items: center;
}
.camera {
    font-size: 2rem;
    padding-right: 5px;
}
#input {
    background-color: #D3D3D3;
    border: none;
    border-radius: 25px;
    padding: 0px 20px;
    width: 40%;
    height: 4vh;
    font-size: 1rem;
    letter-spacing: 2px;
}
.theme-style {
    font-size: 1.3rem;
    padding: 5px 10px 0px 10px;
    cursor: pointer;
}

@media (max-width: 550px) {
    #hidden-mobile{
        display: none;
    }
    #input {
      margin: -60px;
    }

}