.header-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1rem;
    margin-top: 30px;
    margin-bottom: 5px;
}
.header-left {
    display: flex;
    align-items: center;
}
.camera {
    font-size: 2rem;
    padding-right: 5px;
}
#input {
    background-color: #D3D3D3;
    border: none;
    border-radius: 20px;
    padding-left: 10px;
    width: 45vw;
    height: 4vh;
    font-size: 1rem;
}