.cards-container {
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 55vw;
    height: 280px;
    margin: 20px 20px;
}
.cards-container img {
    width: 45vw;
    height: 200px;
}