.cards-container {
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 350px;
    margin: 20px 20px;
}
.cards-container img {
    width: 200px;
    height: 240px;
    object-fit: cover;
}