.cards-container {
    background-color: #EBECF0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 250px;
    height: 360px;
    margin: 20px 45px;
}
.cards-container img {
    width: 200px;
    height: 240px;
    object-fit: cover;
    padding-top: 5px;
}
.text-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 22px;
}
.heart-icon {
 margin-top: 5px;
 cursor: pointer;
}